<div class="container">
    <div class="row row-deck pt-4">
      <% databases.forEach(function (database) {%>
        <div class="col-md-4 mb-5">
          <div class="card data-store">
            <div class="card-status-top bg-indigo"></div>
            <div class="card-body">
                <div class="card-title text-primary text-center">
                  <strong class="text-uppercase">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-database" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <ellipse cx="12" cy="6" rx="8" ry="3"></ellipse>
                      <path d="M4 6v6a8 3 0 0 0 16 0v-6"></path>
                      <path d="M4 12v6a8 3 0 0 0 16 0v-6"></path>
                    </svg>
                    <%= database.name %>
                  </strong>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="/pgweb/connect/<%= database.id %>" target="_blank" class="btn btn-sm btn-green" aria-label="Button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
                    <line x1="10" y1="14" x2="20" y2="4"></line>
                    <polyline points="15 4 20 4 20 9"></polyline>
                  </svg>
                  Connect To Database
                </a>
            </div>
          </div>
        </div>
      <% })%>
    </div>
</div>
  